/* GLOBAL BOX-SIZING FIX */
*, *::before, *::after {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-container {
  width: 100%;
  max-width: 360px; /* Example width for mobile screens */
  min-width: unset;
  height: 100vh; /* Ensures the container height matches the viewport height */
  margin: 0 auto; /* Center the container */
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  overflow-y: auto; /* Adds scrolling if content exceeds the container height */
}

/* Body style to center content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
  /* Remove overflow-y: hidden to allow scrolling if needed */
}